node_modules/
npm-debug.log
dist/
cypress/report.json
cypress/screenshots/actual
cypress/videos/
provisioning

# Editor junk
*.sublime-project
*.sublime-workspace
*.swp
.idea/
*.iml
*.tmp

# Include vscode debugger config
!.vscode/launch.json

# Jest coverage
coverage/
tmp/
*.d.ts

/.vs
